# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Java build files
/out/
/build/
/target/

# Dependency management
.gradle/
mvnw
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
config.properties
